<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<div class="container-fluid" id="wrapper">
    <header class="row" id="header">
        <h1>{% block title %}Orbita Catalog{% endblock %}</h1>
        {% block navigation %}
            <nav>
                <ul>
                    <li><a href="{{ path('orbita_catalog_homepage') }}">Home</a></li>
                    <li><a href="{{ path('orbita_catalog_site_create') }}">New Site</a></li>
                    <li><a href="{{ path('orbita_catalog_users') }}">Users</a></li>
                </ul>
            </nav>
        {% endblock %}
    </header>
    <div class="row">
        <div class="col-sm-2" style="background-color:lavender;">{% block sidebar %}{% endblock %}</div>
        <div class="col-sm-8" style="background-color:lavenderblush;">{% block body %}{% endblock %}</div>
        <div class="col-sm-2" style="background-color:lavender;">Banner</div>
    </div>
    <div class="row" id="footer">
        {% block footer %}
            Orbita catalog <a href="https://github.com/dsyph3r">dsyph3r</a>
        {% endblock %}
    </div>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
