{% extends 'OrbitaCatalogBundle::layout.html.twig' %}

{% block body %}
    <h1>Добавление сайта в каталог</h1>
    {% include 'OrbitaCatalogBundle:Site:form.html.twig' with { 'form': form } %}
{% endblock %}