<section class="section">
    <section>
        <h4>Рекомендуемые сайты</h4>
        {% for site in vips %}
            {% include 'OrbitaCatalogBundle:Parts:site.html.twig' %}
        {% else %}
            <p>There are no vip sites</p>
        {% endfor %}
    </section>
    <hr>
    <section>
        <h4>Новые сайты в каталоге</h4>
        {% for site in lasts %}
            {% include 'OrbitaCatalogBundle:Parts:site.html.twig' %}
        {% else %}
            <p>There are no vip sites</p>
        {% endfor %}
    </section>
</section>