<section class="section">
    <header>
        <h3>Sites</h3>
    </header>
        {% for site in sites %}
            {% include 'OrbitaCatalogBundle:Parts:site.html.twig' %}
        {% else %}
            <p>There are no recent sites</p>
        {% endfor %}
</section>